html, body {
	font-family: Verdana, sans-serif;
}

#main {
	display: flex;
	min-height: calc(100vh - 40vh);
}
#main > section {
	flex: 1;
}
#main > nav,
#main > aside {
	flex: 0 0 20vw;
	background-color: beige;
}
#main > nav {
	order: -1;
}
#main > section {
	display: flex;
	justify-content: center;
	align-items: center;
}
section div {
	font-size: 1em;
	padding: 0.5em;
}
.blue {
	background: steelblue;
}
.red {
	background: orangered;
}
.yellow {
	background: gold;
}
header, footer, section, aside, nav {
	padding: 1em;
}
header, footer {
	background-color: yellowgreen;
	height: 20vh;
}